<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web-Component</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <a href="#main">Skip to content</a>
    <div class="with-sidebar">
        <header class="sidebar">
            {% include nav.html %}
        </header>
        <div class="not-sidebar">
            <main id="main">
                <h1>{{ title }}</h1>
                <aside class="aside-toc">
                    <span aria-hidden="true" id="toc-title">
                        Table of contents
                    </span>
                    {{ content | toc | safe }}
                </aside>
                {{ content | safe}}
            </main>
        </div>
    </div>
</body>
</html>