.editors-note {
  background: var(--tag-background-color);
  border-radius: var(--border-radius);
}

.editors-note p {
  font-size: var(--step--1);
  padding-bottom: var(--step-0);
}

.editors-note[open] > * {
  padding-left: var(--step-0);
  padding-right: var(--step-0);
}

.editors-note summary {
  padding-top: var(--step-0);
}

.editors-note:not([open]) summary {
  padding-top: var(--step--2);
  padding-bottom: var(--step--2);
}
