.editors-note {
  border-block-end: var(--border-thin) solid var(--primary-text-color);
  transition: all 250ms;
}

/* Increase padding from s0 to s1 to make it look optically similar  */
.editors-note p {
  padding-bottom: var(--s1);
}
