.first-published {
  position: relative;
  width: fit-content;
  border-radius: var(--border-radius);
  border: var(--border-thin) solid var(--secondary-background-color);
  background: var(--secondary-background-color);
}

.first-published > * {
  padding: var(--step--4) var(--step--2);
}

.first-published[open] {
  width: 100%;
}

.first-published[open] p {
  background: var(--body-bg);
  background-blend-mode: difference;
}
