.first-published {
  width: fit-content;
  background: var(--tag-background-color);
  border-radius: var(--border-radius);
}

.first-published p {
  font-size: var(--step--1);
  padding-bottom: var(--step-0);
}

.first-published[open] > * {
  padding-left: var(--step-0);
  padding-right: var(--step-0);
}

.first-published summary {
  padding-top: var(--step-0);
}

.first-published:not([open]) summary {
  padding-top: var(--step--4);
  padding-bottom: var(--step--4);
}
