.first-published {
  position: relative;
  width: fit-content;
  border-radius: var(--border-radius);
  border: var(--border-thin) solid;
}

.first-published[open] summary {
  position: absolute;
  left: 1rem;
  top: -0.75em;
  padding: 0 0.5rem;
  background: var(--primary-background-color);
}

.first-published:not([open]) summary {
  padding: var(--step--8) var(--step--4);
}

.first-published[open] p {
  font-size: var(--step--1);
  padding: var(--step--2);
}
