@font-face {
  font-family: Inter;
  src: local("HelveticaNeue"), local("Inter-Regular"),
    url(/fonts/Inter-Regular.ttf);
  font-weight: 400;
  font-display: optional;
}

@font-face {
  font-family: Inter;
  src: local("HelveticaNeue-Medium"), local("Inter-Regular_Medium"),
    url(/fonts/Inter-Medium.ttf);
  font-weight: 500;
  font-display: optional;
}
