sup {
  font-size: var(--s-1);
  color: inherit;
}

hr.footnotes-sep + *,
* + hr.footnotes-sep {
  margin-top: var(--s2);
}

hr.footnotes-sep {
  border-style: dashed;
  border-top-width: 1px;
}

.footnotes-list {
  margin-inline-start: var(--s0);
  font-size: var(--s-1);
}

.footnotes-list li + li {
  margin-top: var(--s-1);
}
