sup {
  font-size: var(--step--3);
  color: inherit;
}

hr.footnotes-sep + *,
* + hr.footnotes-sep {
  margin-top: var(--step-2);
}

hr.footnotes-sep {
  border-style: solid;
  border-top-width: var(--border-thin);
}

.footnotes::before {
  display: block;
  content: "Footnotes: ";
  padding-bottom: var(--step--4);
  font-size: var(--step--1);
}

.footnotes-list {
  margin-left: var(--step-0);
  font-size: var(--step--1);
}

.footnotes-list li + li {
  margin-top: var(--step--8);
}
