.footer-link {
  padding: var(--step--8) var(--step--4);
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-inner {
  --cluster-gap: var(--step-0);
  max-width: 35rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: baseline;
}

.footer-inner-content {
  --stack-gap: var(--step--8);
  align-items: flex-end;
}

@media (max-width: 534px) {
  .footer-inner {
    justify-content: center;
  }

  .footer-inner-content {
    align-items: center;
  }
}

#theme-toggle {
  display: none;
}

.with-js #theme-toggle {
  display: inline-block;
  padding: var(--step--8) var(--step--4);
  border: var(--border-thin) solid transparent;
  background-color: transparent;
  font-family: var(--font-plain);
  font-size: var(--step--2);
  font-weight: 400;
  letter-spacing: inherit;
  color: var(--primary-text-color);
  /* transition: background-color 500ms ease-in-out, color 200ms ease; */
}

.with-js #theme-toggle:hover {
  border: var(--border-thin) solid var(--secondary-background-color);
  background: var(--secondary-background-color);
}
