.footer-link {
  padding: var(--step--4) var(--step--2);
  border-radius: var(--border-radius);
  background: var(--tag-background-color);
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
  background: var(--tag-background-hover-color);
}

.footer-inner {
  --cluster-gap: var(--step-0);
  max-width: 35rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.footer-inner-content {
  --stack-gap: var(--step--8);
  align-items: flex-end;
}

.js-mode-toggle {
  padding: 0;
}

@media (max-width: 509px) {
  .footer-inner {
    justify-content: center;
  }

  .footer-button {
    flex-grow: 999;
    justify-content: space-between;
  }

  .footer-inner-content {
    align-items: center;
  }
}

.theme-toggle {
  height: 100%;
}

.js-mode-toggle {
  height: 100%;
  display: inline-block;
  border: none;
  background-color: transparent;
  font-family: var(--font-plain);
  font-size: var(--step--2);
  font-weight: 400;
  letter-spacing: calc(var(--step--2) * 1 / 100);
  color: var(--primary-text-color);
  transition: background-color 500ms ease-in-out, color 200ms ease;
}

.js-mode-toggle::after {
  background: var(--button-icon);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  content: "";
  width: 1em;
  height: 1em;
  margin: 0 0 0 var(--step--4);
  filter: var(--button-icon-filter);
  transform: translateY(1px); /* Optical adjustment */
}
