.view-all-link {
  font-family: var(--font-special);
  font-size: inherit;
  font-weight: 700;
  text-decoration: none;
  color: var(--primary-background-color);
  background-color: var(--primary-text-color);
  padding: 0.51020408em 1.4em;
}

.view-all-link::after {
  content: "→";
}

/* Heading anchor links */

.heading-wrapper {
  --translateX: calc(-1 * (2 * var(--s-3) + var(--s-3) + 24px));

  display: grid;
  grid-template-columns: minmax(auto, max-content) min-content;
  align-items: stretch;
  gap: var(--s-3);
}

.deeplink {
  display: grid;
  padding: 0 var(--s-3);
  justify-content: center;
  align-content: center;
}

.deeplink svg {
  vertical-align: middle;
}

.deeplink:link,
.deeplink:visited {
  /* padding: 0 0.25rem; */
  border-radius: 0.3em;
  color: red;
  text-decoration: none;
}

.heading-wrapper:hover .deeplink,
.deeplink:hover,
.deeplink:focus {
  color: yellow;
  background-color: red;
}

@media (min-width: 1120px) {
  .heading-wrapper {
    grid-template-columns: min-content auto;
    transform: translateX(var(--translateX));
  }

  .deeplink {
    grid-row-start: 1;
  }
}
