.with-sidebar {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

.sidebar,
.not-sidebar {
  padding-top: var(--step-2);
  padding-bottom: var(--step-2);
}

.sidebar {
  z-index: 1;
  flex-grow: 1;
  flex-basis: 14rem;
  text-align: center;
  outline: var(--border-thin) solid var(--section-outline-color);
}

.not-sidebar {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 70%;

  min-height: 70vh;
  display: flex;
  flex-direction: column;
}
