.not-sidebar > * {
  padding-inline: var(--s2);
}

/* .not-sidebar > * + * {
  margin-top: var(--s3);
} */

.not-sidebar main {
  padding-block-end: var(--s3);
}

main > * + * {
  margin-top: var(--s3);
}

main > p + p {
  margin-top: var(--s0);
}

main > h2 + p {
  margin-top: var(--s1);
}

.heading-wrapper.h2 + * {
  margin-top: var(--s1);
}
.heading-wrapper.h3 + * {
  margin-top: var(--s-1);
}

footer,
main > *,
aside > * {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 35rem;
}

footer {
  min-width: 100%;
  margin-top: auto !important;
  padding-block-start: var(--s2);
  font-size: var(--s-1);
  text-align: center;
  /* border-block-start: var(--border-thin) solid; */

  content-visibility: auto;
  contain-intrinsic-size: 0 120px;
}

footer > * + * {
  margin-top: var(--s0);
}
