.not-sidebar > * {
  padding: var(--step-2);
}

main > * + * {
  margin-top: var(--step-2);
}

main > p + p {
  margin-top: var(--step-0);
}

.heading-wrapper.h2 + * {
  margin-top: var(--step-0);
}
.heading-wrapper.h3 + * {
  margin-top: var(--step-0);
}

footer,
main > *,
aside > * {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 35rem;
}

footer {
  min-width: 100%;
  margin-top: auto !important;
  padding-top: var(--step-2);
  border-top: var(--border-thin) solid var(--section-outline-color);
  font-size: var(--step--2);
  text-transform: capitalize;
  letter-spacing: 0.03em;
  text-align: center;

  content-visibility: auto;
  contain-intrinsic-size: 0 120px;
}

footer > * + * {
  margin-top: var(--step-0);
}
