.post-list {
  list-style: none;
}

.post-list > * + * {
  margin-top: var(--s3);
}

.post-list > li + li {
  padding-top: var(--s3);
  border-top: var(--border-thin) dashed;
}

.postlist-item-header {
  gap: var(--s-1);
}

.post-list h2 {
  line-height: var(--line-height);
  font-size: var(--s1);
  font-weight: 700;

  /* display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; */
}

.post-list a {
  text-decoration: none;
}

.post-list a:not([aria-current="true"]):hover {
  text-decoration: underline;
}

aside.post-list {
  padding-block: var(--s3);
  border-block: var(--border-thin) solid var(--section-outline-color);
  background-color: var(--tag-background-color);
  content-visibility: auto;
  contain-intrinsic-size: 0 850px;
}

aside.post-list > * + * {
  margin-top: var(--s3);
}

aside.post-list h2 {
  font-size: var(--s3);
  font-family: var(--font-special);
}

aside.post-list h3 {
  font-size: var(--s1);
}
