.taglist-subtitle {
  margin-top: var(--step--4);
  font-size: var(--step--1);
}

/* Overrides styles for the tags list page */
.tags-list {
  list-style: none;
}

.tags-list li:not(:last-child) {
  border-bottom: var(--border-thin) solid var(--section-outline-color);
}

.tags-list a {
  padding: var(--step--4) var(--step--8);
  display: block;
  text-decoration: none;
  transition: background 250ms ease-out;
}

.tags-list a:hover {
  background: var(--tag-background-color);
}

.post-tag {
  --cluster-gap: 0 var(--step--4);
  list-style: none;
}

.post-tag li:not(:last-child):after {
  content: ",";
  content: "," / "";
  alt: "";
}

a.post-tag-item {
  font-size: var(--step--1);
  text-transform: capitalize;
  text-decoration: none;
}

.post-tag-item:hover {
  text-decoration: underline;
}

.post-tag .post-tag-item:hover {
  color: var(--primary-text-color);
}
