.post-meta {
  column-gap: var(--s-3);
  row-gap: var(--s-5);
}

/* .meta-items {
  flex-wrap: nowrap;
  gap: var(--s-3);
} */

/* .author-icon,
.calendar-icon,
.time-icon {
  vertical-align: middle;
  margin-right: 2px;
} */
