.post header > * + * {
  margin-top: var(--s1);
}

.post h1 {
  font-size: calc(var(--s3) * 0.8);
  text-transform: capitalize;
}

.post h2 {
  font-size: var(--s1);
}

.post h3 {
  font-size: var(--s0);
}

p + blockquote,
blockquote + * {
  margin-top: var(--s2);
}

.post a {
  background: transparent;
  transition: background 250ms ease-out;
}

.post a:hover {
  background: var(--secondary-background-color);
}
