.taglist-subtitle {
  margin-top: var(--s-1);
}

.post-tag {
  display: flex;
  gap: var(--s-3);
  flex-wrap: wrap;
  align-items: center;
  font-size: var(--s-1);
  font-weight: 500;
  letter-spacing: calc(var(--s-1) * 1 / 100);
  text-transform: uppercase;
  list-style: none;
}

/* Overrides styles for the tags list page */
.tags-list {
  gap: var(--s-2);
  /* font-size: var(--s0);
  letter-spacing: unset; */
}

.post-tag .post-tag-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--s-6) var(--s-3);
  border: 1px solid var(--tag-border-color);
  border-radius: var(--s-1);
  text-decoration: none;
  background-color: var(--tag-background-color);
  color: var(--tag-text-color);
  transition: background-color 0.5s cubic-bezier(0.05, 0, 0, 1);
}

.post-tag .post-tag-item:hover {
  background-color: var(--tag-background-hover-color);
  text-decoration: none !important;
}
