.post header > * + * {
  margin-top: var(--step-0);
}

.post h3 {
  font-size: var(--step-0);
  font-weight: 500;
}

aside + p {
  margin-top: var(--step-0);
}

p + blockquote,
blockquote + *:not(.post-footer) {
  margin-top: var(--step-0);
}

.post-footer {
  justify-content: space-between;
  align-items: baseline;
}

/* 
@supports (initial-letter: 3) or (-webkit-initial-letter: 3) {
  main > p:first-of-type::first-letter {
    -webkit-initial-letter: 3;
    initial-letter: 3;
    margin-right: var(--step--2);
    font-weight: 600;
  }
} */
