.post h1 {
  font-size: calc(var(--s3) * 0.8);
  text-transform: capitalize;
}

.post h1 + div {
  margin-top: var(--s1);
}

.post h2 {
  font-size: var(--s1);
}

.post h3 {
  font-size: var(--s0);
}

p + blockquote,
blockquote + * {
  margin-top: var(--s2);
}
