.post-meta {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s0);
  align-items: center;
  font-size: var(--s-1);
  font-weight: 500;
  letter-spacing: calc(var(--s-1) * 1 / 100);
  text-transform: uppercase;
}

.meta-items {
  display: flex;
  align-items: center;
  gap: var(--s-5);
}

.author-icon,
.calendar-icon,
.time-icon {
  vertical-align: middle;
  margin-right: 2px;
}
