.post-meta {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s-1);
  align-items: center;
  font-size: var(--s-1);
  font-weight: 500;
  text-transform: uppercase;
}

.author-info {
  gap: var(--s-5);
}

.author-icon {
  vertical-align: middle;
  margin-right: 2px;
}

.time-icon {
  vertical-align: middle;
}
