.post-list {
  list-style: none;
}

.post-list > * + * {
  margin-top: var(--step-2);
}

.post-list > li + li {
  padding-top: var(--step-2);
  border-top: var(--border-thin) solid var(--section-outline-color);
}

.postlist-item {
  gap: var(--step--2);
}

.postlist-item-header {
  gap: var(--step--2);
}

.post-list h2 {
  line-height: var(--line-height);
  font-size: var(--step-0);
  font-weight: 700;
}

.post-list a {
  text-decoration: none;
}

.post-list a:not([aria-current="true"]):hover {
  text-decoration: underline;
}

aside.additional-posts {
  padding-top: var(--step-2);
  padding-bottom: var(--step-2);
  border-top: var(--border-thin) solid var(--section-outline-color);
  border-bottom: var(--border-thin) solid var(--section-outline-color);
  background-color: var(--tag-background-color);
  content-visibility: auto;
  contain-intrinsic-size: 0 850px;
}

aside.additional-posts > * + * {
  margin-top: var(--step-2);
}

aside.additional-posts h2 {
  font-size: var(--step-2);
  font-family: var(--font-special);
  /* text-transform: uppercase; */
}

aside.additional-posts h3 {
  font-size: var(--step-0);
}
