.post-list {
  list-style: none;
}

.post-list > * + * {
  margin-top: var(--step-2);
}

.post-list > li + li {
  padding-top: var(--step-2);
  border-top: var(--border-thin) solid var(--section-outline-color);
}

.postlist-item {
  --stack-gap: var(--step--2);
}

.post-list h2 {
  font-size: var(--step-0);
}

.post-list :where(a) {
  text-decoration-line: none;
}

@media (any-hover: hover) {
  .postlist-item :where(h2, h3):after {
    opacity: 0;
    content: "→";
    content: "→" / "";
    alt: "";
    color: var(--accent-color);
    margin-left: var(--step--4);
    transition: opacity 200ms ease;
  }
  .postlist-item :where(h2, h3):hover::after {
    opacity: 1;
  }
}

aside.additional-posts {
  padding-top: var(--step-2);
  padding-bottom: var(--step-2);
  border-top: var(--border-thin) solid var(--section-outline-color);
  content-visibility: auto;
  contain-intrinsic-size: 0 850px;
}

aside.additional-posts > * + * {
  margin-top: var(--step-2);
}

aside.additional-posts h2 {
  font-size: var(--step-2);
}
