.primary-nav ul {
  list-style: none;
}

.primary-nav a {
  display: block;
  padding-block: var(--s-5);
  font-size: var(--s-1);
  font-weight: 700;
  text-decoration: none;
  letter-spacing: calc(var(--s-1) * 1 / 100);
  line-height: var(--line-height);
  text-transform: uppercase;
}

.primary-nav a:not([aria-current="page"]):hover {
  text-decoration: underline;
  text-decoration-thickness: var(--border-thin);
}

.primary-nav [aria-current="page"] {
  position: relative;
  text-indent: calc(-10.33px - var(--s-3));
}

.primary-nav [data-state="active"] {
  position: relative;
  text-indent: calc((var(--s-2) + var(--s-3)) * -1);
}

.primary-nav [aria-current="page"]::before {
  display: inline-block;
  width: var(--s-2);
  height: var(--s-2);
  margin-right: var(--s-3);
  content: "";
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'><path d=\"m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z\"/></svg>");
  background-size: contain;
  background-repeat: no-repeat;
}

.primary-nav [data-state="active"]::before {
  display: inline-block;
  width: var(--s-2);
  height: var(--s-2);
  margin-right: var(--s-3);
  content: "";
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'><path d=\"m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z\"/></svg>");
  background-size: contain;
  background-repeat: no-repeat;
}
/* Manually add dark theme text color in the fill*/
@media (prefers-color-scheme: dark) {
  .primary-nav [aria-current="page"]::before,
  .primary-nav [data-state="active"]::before {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='hsl(216, 12%, 82%)' viewBox='0 0 16 16'><path d=\"m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z\"/></svg>");
  }
}
.primary-nav a:not([aria-current="page"])[data-state="active"]:hover {
  text-decoration: none;
}

.primary-nav-toggle {
  font-size: var(--s0);
  text-transform: uppercase;
  color: var(--primary-text-color);
  font-weight: 700;
  width: 100%;
  text-align: center;
  background-color: var(--tag-background-color);
  border: none;
  display: none;
}

@media (max-width: 883px) {
  .with-js .primary-nav-toggle {
    display: block;
    margin-inline: auto;
    max-width: calc(100% - (2 * var(--s2)));
  }
}

.nav-menu-icon {
  width: 0.75em;
  height: 0.75em;
  stroke: currentColor;
  stroke-width: 5;
  fill: none;
  text-decoration-skip: objects;
}

.primary-nav-toggle[aria-expanded="true"] path {
  d: path("M3,3 29,29 M16,16 16,16 M3,29 29,3");
}

.primary-nav-toggle path {
  transition: d 0.25s;
}

@media (max-width: 883px) {
  .with-js .primary-nav {
    display: none;
  }

  .with-js .primary-nav a {
    font-size: var(--s0);
    padding-block: var(--s-4);
  }
}

@media (max-width: 883px) {
  [aria-expanded="true"] + .primary-nav {
    display: block;
  }
}
