.primary-nav ul {
  list-style: none;
}

.primary-nav a {
  display: block;
  padding-block: var(--s-5);
  text-decoration: none;
}

.primary-nav a:not([aria-current="page"]):hover {
  text-decoration: underline;
  text-decoration-thickness: var(--border-thin);
}

.primary-nav [aria-current="page"] {
  position: relative;
  text-indent: calc(-10.33px - var(--s-3));
}

.primary-nav [data-state="active"] {
  position: relative;
  text-indent: calc((var(--s-2) + var(--s-6)) * -1);
}

.primary-nav [aria-current="page"]::before {
  display: inline-block;
  width: var(--s-2);
  height: var(--s-2);
  margin-right: var(--s-6);
  content: "►";
  content: "►" / "";
  alt: "";
}

.primary-nav [data-state="active"]::before {
  display: inline-block;
  width: var(--s-2);
  height: var(--s-2);
  margin-right: var(--s-6);
  content: "►";
  content: "►" / "";
  alt: "";
}

.primary-nav a:not([aria-current="page"])[data-state="active"]:hover {
  text-decoration: none;
}

.primary-nav-toggle {
  width: 100%;
  border: none;
  background-color: var(--tag-background-color);
  display: none;
  font-family: unset;
  font-size: var(--s0);
  text-transform: uppercase;
  color: var(--primary-text-color);
  font-weight: 700;
  text-align: center;
}

.nav-menu-icon {
  width: 0.75em;
  height: 0.75em;
  stroke: currentColor;
  stroke-width: 5;
  fill: none;
  text-decoration-skip: objects;
}

.primary-nav-toggle[aria-expanded="true"] path {
  d: path("M3,3 29,29 M16,16 16,16 M3,29 29,3");
}

.primary-nav-toggle path {
  transition: d 0.25s;
}

@media (max-width: 883px) {
  .with-js .primary-nav-toggle {
    display: block;
    margin-inline: auto;
    max-width: calc(100% - (2 * var(--s2)));
  }

  .with-js .primary-nav {
    display: none;
  }

  .primary-nav a {
    font-size: var(--s0);
    padding-block: var(--s-4);
  }

  [aria-expanded="true"] + .primary-nav {
    display: block;
  }
}
