.sidebar > * + * {
  margin-top: var(--s1);
}

.site-name > * + * {
  margin-top: var(--s-3);
}

.site-abbr {
  font-family: var(--font-special);
  font-size: var(--s3);
  text-transform: uppercase;
  line-height: var(--line-height);
}

.site-full-name {
  --measure: 21ch;
  max-width: var(--measure);
  margin-inline: auto;
  font-size: var(--s-1);
  font-weight: 500;
}

.sidebar ul {
  list-style: none;
}

.sidebar li + li {
  margin-top: var(--s-2);
}

.sidebar a {
  display: block;
  line-height: var(--line-height-small);
  font-weight: 700;
  text-decoration: none;
}

.sidebar a:not([aria-current="page"]):hover {
  text-decoration: underline;
}

.sidebar [aria-current="page"] {
  position: relative;
  text-indent: -1em;
}

.sidebar [data-state="active"] {
  position: relative;
  text-indent: -1em;
}

.sidebar [aria-current="page"]::before {
  content: "\25B8";
  padding-right: var(--s-3);
}

.sidebar [data-state="active"]::before {
  content: "\25B8";
  padding-right: var(--s-3);
}

.sidebar a:not([aria-current="page"])[data-state="active"]:hover {
  text-decoration: none;
}
