.sidebar > * {
  padding: var(--step-2);
}

.sidebar > * + * {
  margin-top: var(--step-0);
}

.site-head > * + * {
  margin-top: 0;
}

.site-abbr {
  font-family: var(--font-special);
  font-size: var(--step-3);
  text-transform: uppercase;
  text-decoration: none;
  line-height: var(--line-height-small);
  letter-spacing: -0.02em;
}

.site-abbr:hover {
  text-decoration: underline;
}

.site-name {
  --measure: 19ch;
  max-width: var(--measure);
  margin-left: auto;
  margin-right: auto;
  font-size: var(--step--2);
  font-weight: 500;
  letter-spacing: 0.03em;
}
