@media (max-width: 883px) {
  [href="#main"] {
    width: max-content;
    margin-inline: auto;
    padding-block-start: var(--s-3);
    padding-block-end: var(--s0);
    background-color: transparent;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: var(--primary-text-color);
    z-index: 2;
  }

  .with-js [href="#main"] {
    position: fixed;
    top: auto;
    bottom: var(--s1);
    padding: var(--s-2) var(--s0);
    border-radius: var(--s1);
    font-size: var(--s-1);
    font-weight: 700;
    letter-spacing: calc(var(--s-1) * 1 / 100);
    text-transform: uppercase;
    text-decoration: none;
    color: var(--secondary-background-color);
    background-color: var(--primary-text-color);
    box-shadow: var(--shadow-elevation-high);
    transition: all 250ms;
  }
}
