@font-face {
  font-family: Barlow Condensed;
  src: local("Barlow Condensed"),
    url(/fonts/barlowcondensed-bold.woff2) format("woff2"),
    url(/fonts/barlowcondensed-bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --font-plain: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-special: "Barlow Condensed", "HelveticaNeue-CondensedBold", Impact,
    Helvetica, sans-serif;
  --font-mono: Menlo, Courier, Courier New, Andale Mono, monospace;

  --color-dark: hsl(0, 0%, 2%);
  --color-darkish: #404040;
  --color-lightish: #e6e6e6;
  --color-light: #fafafa;
  --color-mid: grey;

  --ratio: 1.4;
  --s-6: calc(
    var(--s0) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio) /
      var(--ratio) / var(--ratio)
  );
  --s-5: calc(
    var(--s0) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio) /
      var(--ratio)
  );
  --s-4: calc(
    var(--s0) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio)
  );
  --s-3: calc(var(--s0) / var(--ratio) / var(--ratio) / var(--ratio));
  --s-2: calc(var(--s0) / var(--ratio) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s0) * var(--ratio) * var(--ratio));
  --s3: calc(var(--s0) * var(--ratio) * var(--ratio) * var(--ratio));
  --s4: calc(
    var(--s0) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio)
  );
  --s5: calc(
    var(--s0) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) *
      var(--ratio)
  );
  --measure: 65ch;
  --line-height: var(--ratio);
  --line-height-small: calc(0.8 * var(--ratio));
  --border-thin: var(--s-6);
  --border-thick: var(--s-2);
  line-height: var(--ratio);
  font-size: calc(0.333vw + 1em);
  font-family: var(--font-plain);

  --primary-text-color: var(--color-dark);
  --secondary-text-color: var(--color-darkish);
  --primary-background-color: var(--color-light);
  --secondary-background-color: var(--color-lightish);
  --outline-color: var(--color-mid);
  --tag-background-color: rgba(0, 0, 0, 0.05);
  --tag-background-hover-color: rgba(0, 0, 0, 0.1);
  --tag-border-color: rgba(0, 0, 0, 0.1);

  color: var(--primary-text-color);
  background-color: var(--primary-background-color);

  /* Shadow for the footnote tooltip*/
  --shadow-color: 0deg 0% 0%;
  --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.1),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.1),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.1);
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.11),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.11),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.11),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.11);
  --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.1),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.1),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.1),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.1),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.1),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.1),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.1),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --primary-text-color: hsl(216, 12%, 82%);
    --secondary-text-color: hsl(216, 12%, 76%);
    --primary-background-color: hsl(0, 0%, 10%);
    --secondary-background-color: hsl(0, 0%, 25%);
    --outline-color: hsl(0, 0%, 98%);
    --tag-background-color: rgba(255, 255, 255, 0.1);
    --tag-background-hover-color: rgba(255, 255, 255, 0.2);
    --tag-border-color: rgba(255, 255, 255, 0.1);
    --tag-text-color: hsl(216, 12%, 92%);
  }
}

*,
:after,
:before {
  box-sizing: border-box;
  /* background-color: inherit; */
  font-family: inherit;
  color: inherit;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  border: 0 solid;
  scroll-margin-top: var(--s2);
}

footer,
header,
main,
nav {
  display: block;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

/*Superscript styles*/
sup {
  display: inline-block;
  transform: translateY(-0.25ex);
}

sup a {
  text-decoration: none;
}

button {
  font-size: inherit;
  font-weight: 700;
  display: inline-block;
  cursor: pointer;
  font-family: var(--font-special);
  color: var(--primary-background-color);
  background-color: var(--primary-text-color);
  padding: var(--s-1) var(--s2);
  border-width: var(--border-thin);
}

button {
  text-transform: uppercase;
  border-color: var(--primary-text-color);
}

button,
pre {
  outline: var(--border-thin) solid transparent;
  outline-offset: calc(var(--border-thin) * -1);
}

:focus {
  outline: var(--border-thin) solid var(--outline-color);
  outline-offset: var(--border-thin);
}
[tabindex="-1"]:focus {
  outline: none;
}

[href="#main"] {
  display: inline-block;
  padding: var(--s-1) var(--s2);
  color: var(--primary-background-color);
  background-color: var(--primary-text-color);
  position: absolute;
  top: -10rem;
}

[href="#main"]:focus {
  position: absolute;
  z-index: 1;
  top: 0;
  outline: none;
}

hr {
  display: block;
  unicode-bidi: isolate;
  overflow: hidden;
  border-top: var(--border-thin) dashed;
}

@media print {
  main {
    overflow: visible;
    display: table;
  }

  .sidebar,
  aside,
  .not-sidebar footer,
  hr.section-sep {
    display: none;
  }

  h2,
  h3,
  h4,
  h5 {
    font-weight: bold;
    break-after: avoid;
    break-inside: avoid;
  }

  h2 + p,
  h3 + p {
    break-before: avoid;
  }

  [href="#main"] {
    visibility: hidden;
  }

  .eleventy-plugin-embed-twitter {
    break-inside: avoid;
  }
}
