@font-face {
  font-family: Inter;
  src: local("Inter"), url(/fonts/Inter.var.woff2) format("woff2-variations");
  font-weight: 400 700;
  font-style: normal;
}

:root {
  --step--10: clamp(0.11rem, 0.13rem + -0.06vw, 0.07rem);
  --step--9: clamp(0.14rem, 0.16rem + -0.07vw, 0.09rem);
  --step--8: clamp(0.18rem, 0.19rem + -0.07vw, 0.13rem);
  --step--7: clamp(0.22rem, 0.24rem + -0.08vw, 0.17rem);
  --step--6: clamp(0.28rem, 0.29rem + -0.08vw, 0.22rem);
  --step--5: clamp(0.35rem, 0.36rem + -0.07vw, 0.3rem);
  --step--4: clamp(0.44rem, 0.45rem + -0.06vw, 0.4rem);
  --step--3: clamp(0.54rem, 0.55rem + -0.02vw, 0.53rem);
  --step--2: clamp(0.68rem, 0.67rem + 0.03vw, 0.7rem);
  --step--1: clamp(0.85rem, 0.83rem + 0.13vw, 0.94rem);
  --step-0: clamp(1.06rem, 1.01rem + 0.27vw, 1.25rem);
  --step-1: clamp(1.33rem, 1.23rem + 0.48vw, 1.67rem);
  --step-2: clamp(1.66rem, 1.5rem + 0.8vw, 2.22rem);
  --step-3: clamp(2.08rem, 1.82rem + 1.27vw, 2.96rem);
  --step-4: clamp(2.59rem, 2.21rem + 1.93vw, 3.95rem);
  --step-5: clamp(3.24rem, 2.67rem + 2.88vw, 5.26rem);
}

:root {
  --font-plain: "Helvetica Neue", Helvetica, "Inter", Arial, sans-serif;
  --font-special: "Helvetica Neue", Helvetica, "Inter", sans-serif;
  --font-mono: Menlo, Courier, Courier New, Andale Mono, monospace;

  --color-dark: hsl(0, 0%, 2%);
  --color-darkish: hsl(0, 0%, 33%);
  --color-lightish: hsl(0, 0%, 90%);
  --color-light: hsl(0, 0%, 98%);
  --color-mid: hsl(0, 0%, 50%);

  --ratio: 1.5625;
  --measure: 65ch;
  --line-height: var(--ratio);
  --line-height-small: calc(0.75 * var(--ratio));
  --line-height-high: calc(var(--ratio) * 1.25);
  --border-thin: var(--step--10);
  --border-thick: var(--step--6);
  --border-radius: var(--step--8);

  --color-mode: "light";
  --primary-text-color: var(--color-dark);
  --secondary-text-color: var(--color-darkish);
  --primary-background-color: var(--color-light);
  --secondary-background-color: var(--color-lightish);
  --outline-color: var(--color-mid);
  --tag-background-color: hsl(0, 0%, 93%);
  --tag-background-hover-color: hsla(0, 0%, 0%, 0.1);
  --section-outline-color: var(--primary-text-color);
  --mark-bg-color: hsl(240deg 67% 92%);
  --mark-text-color: var(--primary-text-color);

  --icon-sun: url('data:image/svg+xml,\<svg version="1.1" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">\<path d="M18 12c0-0.811-0.161-1.587-0.455-2.295-0.304-0.735-0.75-1.395-1.303-1.948-0.552-0.552-1.213-0.998-1.948-1.303-0.707-0.293-1.483-0.454-2.294-0.454s-1.587 0.161-2.295 0.455c-0.735 0.304-1.395 0.75-1.948 1.302s-0.998 1.213-1.302 1.948c-0.294 0.708-0.455 1.484-0.455 2.295s0.161 1.587 0.455 2.295c0.304 0.735 0.75 1.395 1.303 1.948 0.552 0.552 1.213 0.998 1.948 1.303 0.707 0.293 1.483 0.454 2.294 0.454s1.587-0.161 2.295-0.455c0.735-0.304 1.395-0.75 1.948-1.303s0.998-1.213 1.303-1.948c0.293-0.707 0.454-1.483 0.454-2.294zM16 12c0 0.544-0.108 1.060-0.303 1.529-0.202 0.489-0.5 0.929-0.869 1.299s-0.81 0.667-1.299 0.869c-0.469 0.195-0.985 0.303-1.529 0.303s-1.060-0.108-1.529-0.303c-0.489-0.202-0.929-0.5-1.299-0.869s-0.667-0.81-0.869-1.299c-0.195-0.469-0.303-0.985-0.303-1.529s0.108-1.060 0.303-1.529c0.202-0.489 0.5-0.929 0.869-1.299s0.81-0.667 1.299-0.869c0.469-0.195 0.985-0.303 1.529-0.303s1.060 0.108 1.529 0.303c0.489 0.202 0.929 0.5 1.299 0.869s0.667 0.81 0.869 1.299c0.195 0.469 0.303 0.985 0.303 1.529zM11 1v2c0 0.552 0.448 1 1 1s1-0.448 1-1v-2c0-0.552-0.448-1-1-1s-1 0.448-1 1zM11 21v2c0 0.552 0.448 1 1 1s1-0.448 1-1v-2c0-0.552-0.448-1-1-1s-1 0.448-1 1zM3.513 4.927l1.42 1.42c0.391 0.391 1.024 0.391 1.414 0s0.391-1.024 0-1.414l-1.42-1.42c-0.391-0.391-1.024-0.391-1.414 0s-0.391 1.024 0 1.414zM17.653 19.067l1.42 1.42c0.391 0.391 1.024 0.391 1.414 0s0.391-1.024 0-1.414l-1.42-1.42c-0.391-0.391-1.024-0.391-1.414 0s-0.391 1.024 0 1.414zM1 13h2c0.552 0 1-0.448 1-1s-0.448-1-1-1h-2c-0.552 0-1 0.448-1 1s0.448 1 1 1zM21 13h2c0.552 0 1-0.448 1-1s-0.448-1-1-1h-2c-0.552 0-1 0.448-1 1s0.448 1 1 1zM4.927 20.487l1.42-1.42c0.391-0.391 0.391-1.024 0-1.414s-1.024-0.391-1.414 0l-1.42 1.42c-0.391 0.391-0.391 1.024 0 1.414s1.024 0.391 1.414 0zM19.067 6.347l1.42-1.42c0.391-0.391 0.391-1.024 0-1.414s-1.024-0.391-1.414 0l-1.42 1.42c-0.391 0.391-0.391 1.024 0 1.414s1.024 0.391 1.414 0z"></path>\</svg>');
  --icon-sun-filter: invert(0.61) sepia(0.8) saturate(5) hue-rotate(0deg)
    brightness(0.92);
  --icon-moon: url('data:image/svg+xml,\<svg version="1.1" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">\<path d="M21.996 12.882c0.022-0.233-0.038-0.476-0.188-0.681-0.325-0.446-0.951-0.544-1.397-0.219-0.95 0.693-2.059 1.086-3.188 1.162-0.696 0.047-1.399-0.027-2.077-0.226-0.656-0.192-1.29-0.501-1.874-0.932-0.655-0.484-1.181-1.074-1.575-1.729-0.409-0.68-0.676-1.432-0.792-2.206s-0.082-1.571 0.11-2.342c0.184-0.741 0.514-1.46 0.999-2.115 0.142-0.191 0.216-0.435 0.191-0.691-0.053-0.55-0.542-0.952-1.092-0.898-1.117 0.109-2.186 0.399-3.172 0.843-1.005 0.452-1.925 1.065-2.723 1.808-0.883 0.82-1.618 1.801-2.159 2.901-0.523 1.064-0.863 2.238-0.978 3.485-0.125 1.347 0.024 2.658 0.402 3.878 0.392 1.266 1.031 2.431 1.863 3.433s1.86 1.843 3.033 2.461c1.13 0.595 2.392 0.982 3.739 1.106s2.659-0.025 3.878-0.403c1.266-0.392 2.431-1.031 3.433-1.863s1.843-1.86 2.461-3.033c0.595-1.13 0.982-2.392 1.106-3.739zM19.567 14.674c-0.126 0.351-0.276 0.689-0.447 1.014-0.493 0.937-1.166 1.76-1.969 2.427s-1.735 1.178-2.747 1.491c-0.973 0.302-2.021 0.421-3.102 0.321s-2.089-0.41-2.99-0.884c-0.937-0.493-1.76-1.166-2.427-1.969s-1.178-1.735-1.491-2.747c-0.302-0.973-0.421-2.021-0.321-3.102 0.092-1 0.365-1.938 0.782-2.786 0.43-0.878 1.018-1.661 1.725-2.319 0.64-0.595 1.377-1.086 2.183-1.449 0.179-0.081 0.362-0.155 0.548-0.223-0.092 0.257-0.171 0.516-0.236 0.778-0.256 1.029-0.302 2.091-0.147 3.121s0.51 2.032 1.056 2.941c0.527 0.875 1.23 1.663 2.1 2.306 0.775 0.573 1.622 0.986 2.5 1.243 0.907 0.266 1.846 0.364 2.772 0.302 0.752-0.050 1.496-0.207 2.21-0.465z"></path>\</svg>');
  --icon-moon-filter: invert(0%) sepia(0%) saturate(10%) hue-rotate(288deg)
    brightness(98%) contrast(95%);
  --button-icon: var(--icon-moon);
  --button-icon-filter: var(--icon-moon-filter);
  --light-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='hsla(0, 0%, 90%, 90%)' fill-opacity='0.33'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  --dark-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='hsla(0, 0%, 33%, 13%)' fill-opacity='0.33'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  --body-bg: var(--light-bg);

  line-height: var(--ratio);
  font-size: var(--step-0);
  font-family: var(--font-plain);

  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --color-mode: "dark";
  }

  :root:not([data-user-color-scheme]) {
    --primary-text-color: hsl(216, 12%, 82%);
    --secondary-text-color: hsl(216, 12%, 66%);
    --primary-background-color: hsl(0, 0%, 10%);
    --secondary-background-color: hsl(0, 0%, 25%);
    --outline-color: hsl(0, 0%, 98%);
    --tag-background-color: hsl(0deg 0% 19%);
    --tag-background-hover-color: hsla(0, 0%, 100%, 0.2);
    --section-outline-color: hsl(0deg 0% 19%);
    --mark-bg-color: hsla(240, 67%, 94%, 80%);
    --mark-text-color: var(--primary-background-color);
    --button-icon: var(--icon-sun);
    --button-icon-filter: var(--icon-sun-filter);
    --body-bg: var(--dark-bg);
  }
}

[data-user-color-scheme="dark"] {
  --primary-text-color: hsl(216, 12%, 82%);
  --secondary-text-color: hsl(216, 12%, 66%);
  --primary-background-color: hsl(0, 0%, 10%);
  --secondary-background-color: hsl(0, 0%, 25%);
  --outline-color: hsl(0, 0%, 98%);
  --tag-background-color: hsl(0deg 0% 19%);
  --tag-background-hover-color: hsla(0, 0%, 100%, 0.2);
  --section-outline-color: hsl(0deg 0% 19%);
  --mark-bg-color: hsla(240, 67%, 94%, 80%);
  --mark-text-color: var(--primary-background-color);
  --button-icon: var(--icon-sun);
  --button-icon-filter: var(--icon-sun-filter);
  --body-bg: var(--dark-bg);
}

*,
:after,
:before {
  box-sizing: border-box;
  /* background-color: inherit; */
  font-family: inherit;
  color: inherit;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  border: 0 solid;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    --anim-opacity: 0;
    --ease-1: cubic-bezier(0.25, 0, 0.5, 1);
    --animation-fade-in: fade-in 0.5s var(--ease-1);
    --animation-slide-in-down: slide-in-down 0.5s var(--ease-1);

    scroll-behavior: smooth;
  }

  @keyframes fade-in {
    to {
      opacity: 1;
    }
  }

  @keyframes slide-in-down {
    from {
      transform: translateY(calc(-1 * var(--step-0)));
    }
  }
}

body {
  transition: background-color 500ms ease-in-out, color 200ms ease;
  background-image: var(--body-bg);
}

footer,
header,
main,
nav {
  display: block;
}

*:not(main) {
  scroll-margin-top: calc(var(--step-2) - var(--border-thin));
}

main {
  scroll-margin-top: calc(-1 * var(--border-thin));
}

h1 {
  font-family: var(--font-special);
  font-size: var(--step-2);
  line-height: var(--line-height-small);
  text-transform: uppercase;
  letter-spacing: calc(1em * -2 / 100);
}

h2 {
  font-size: var(--step-1);
}

h3 {
  font-size: var(--step-0);
}

h2,
h3 {
  text-transform: capitalize;
}

a {
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.1em;
}

blockquote {
  padding-left: var(--step--2);
  padding-top: var(--step--2);
  padding-bottom: var(--step--2);
  border-left: var(--border-thick) solid currentColor;
  background-color: var(--tag-background-color);
}

blockquote > * + * {
  margin-top: var(--step-0);
}

mark {
  background-color: var(--mark-bg-color);
  color: var(--mark-text-color);
}

/*Superscript styles*/
sup a {
  text-decoration: none;
}

button {
  font-size: inherit;
  font-weight: 700;
  display: inline-block;
  cursor: pointer;
  font-family: var(--font-special);
  color: var(--primary-background-color);
  background-color: var(--primary-text-color);
  padding: var(--step--4) var(--step--2);
  border-width: var(--border-thin);
  border-radius: var(--border-radius);
}

button {
  text-transform: uppercase;
  border-color: var(--primary-text-color);
}

button,
pre {
  outline: var(--border-thin) solid transparent;
  outline-offset: calc(var(--border-thin) * -1);
}

:focus {
  outline: var(--border-thin) solid var(--outline-color);
  outline-offset: var(--border-thin);
}

:focus:not(:focus-visible) {
  outline: none;
}

[tabindex="-1"]:focus {
  outline: none;
}

[href="#main"] {
  display: inline-block;
  padding: var(--step--4) var(--step--2);
  color: var(--primary-background-color);
  background-color: var(--primary-text-color);
  position: absolute;
  top: -10rem;
}

[href="#main"]:focus {
  position: absolute;
  z-index: 1;
  top: 0;
  outline: none;
}

hr {
  display: block;
  unicode-bidi: isolate;
  overflow: hidden;
  border-top: var(--border-thin) solid var(--section-outline-color);
}

details summary {
  padding-left: var(--step--4);
  padding-right: var(--step--4);
  padding-top: var(--step--2);
  padding-bottom: var(--step--2);
  cursor: pointer;
}

@media print {
  main {
    overflow: visible;
    display: table;
  }

  .sidebar,
  aside,
  .not-sidebar footer,
  hr.section-sep {
    display: none;
  }

  h2,
  h3,
  h4,
  h5 {
    font-weight: bold;
    break-after: avoid;
    break-inside: avoid;
  }

  h2 + p,
  h3 + p {
    break-before: avoid;
  }

  [href="#main"] {
    visibility: hidden;
  }

  .table-of-contents {
    display: none;
  }

  .editors-note {
    border: var(--border-thin) solid;
    border-radius: var(--border-radius);
  }

  .post .post-tag {
    display: none;
  }

  .eleventy-plugin-embed-twitter {
    break-inside: avoid;
  }

  .social-link {
    display: none !important;
  }
}
