@font-face {
  font-family: TeXGyreHerosCondensed-Bold;
  src: local("HelveticaNeue-CondensedBold"),
    url(/fonts/texgyreheroscn-bold-webfont.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: TeX Gyre Heros;
  src: local("HelveticaNeue"),
    url(/fonts/texgyreheros-regular-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: TeX Gyre Heros;
  src: local("HelveticaNeue-Medium"),
    url(/fonts/texgyreheros-regular-webfont.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: TeX Gyre Heros;
  src: local("HelveticaNeue-Bold"),
    url(/fonts/texgyreheros-bold-webfont.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --font-plain: "TeX Gyre Heros", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-special: "TeXGyreHerosCondensed-Bold", "HelveticaNeue-CondensedBold",
    Impact, Helvetica, sans-serif;
  --font-mono: Menlo, Courier, Courier New, Andale Mono, monospace;

  --color-dark: hsl(0, 0%, 2%);
  --color-darkish: hsl(0, 0%, 32%);
  --color-lightish: hsl(0, 0%, 90%);
  --color-light: hsl(0, 0%, 98%);
  --color-mid: hsl(0, 0%, 50%);

  --ratio: 1.4;
  --s-7: calc(
    var(--s0) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio) /
      var(--ratio) / var(--ratio) / var(--ratio)
  );
  --s-6: calc(
    var(--s0) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio) /
      var(--ratio) / var(--ratio)
  );
  --s-5: calc(
    var(--s0) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio) /
      var(--ratio)
  );
  --s-4: calc(
    var(--s0) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio)
  );
  --s-3: calc(var(--s0) / var(--ratio) / var(--ratio) / var(--ratio));
  --s-2: calc(var(--s0) / var(--ratio) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s0) * var(--ratio) * var(--ratio));
  --s3: calc(var(--s0) * var(--ratio) * var(--ratio) * var(--ratio));
  --s4: calc(
    var(--s0) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio)
  );
  --s5: calc(
    var(--s0) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) *
      var(--ratio)
  );
  --measure: 65ch;
  --line-height: var(--ratio);
  --line-height-small: calc(0.8 * var(--ratio));
  --line-height-high: calc(var(--ratio) * 1.25);
  --border-thin: var(--s-6);
  --border-thick: var(--s-2);
  line-height: var(--ratio);
  font-size: calc(0.2603082vw + 1em);
  font-family: var(--font-plain);

  --color-mode: "light";
  --primary-text-color: var(--color-dark);
  --secondary-text-color: var(--color-darkish);
  --primary-background-color: var(--color-light);
  --secondary-background-color: var(--color-lightish);
  --outline-color: var(--color-mid);
  --tag-background-color: hsla(0, 0%, 0%, 0.05);
  --tag-background-hover-color: hsla(0, 0%, 0%, 0.1);
  --tag-border-color: hsla(0, 0%, 0%, 0.1);
  --tag-text-color: var(--primary-text-color);
  --section-outline-color: var(--primary-text-color);
  --mark-bg-color: hsl(240deg 67% 92%);
  --mark-text-color: var(--primary-text-color);

  color: var(--primary-text-color);
  background-color: var(--primary-background-color);

  --icon-sun: url('data:image/svg+xml,\<svg version="1.1" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">\<path d="M18 12c0-0.811-0.161-1.587-0.455-2.295-0.304-0.735-0.75-1.395-1.303-1.948-0.552-0.552-1.213-0.998-1.948-1.303-0.707-0.293-1.483-0.454-2.294-0.454s-1.587 0.161-2.295 0.455c-0.735 0.304-1.395 0.75-1.948 1.302s-0.998 1.213-1.302 1.948c-0.294 0.708-0.455 1.484-0.455 2.295s0.161 1.587 0.455 2.295c0.304 0.735 0.75 1.395 1.303 1.948 0.552 0.552 1.213 0.998 1.948 1.303 0.707 0.293 1.483 0.454 2.294 0.454s1.587-0.161 2.295-0.455c0.735-0.304 1.395-0.75 1.948-1.303s0.998-1.213 1.303-1.948c0.293-0.707 0.454-1.483 0.454-2.294zM16 12c0 0.544-0.108 1.060-0.303 1.529-0.202 0.489-0.5 0.929-0.869 1.299s-0.81 0.667-1.299 0.869c-0.469 0.195-0.985 0.303-1.529 0.303s-1.060-0.108-1.529-0.303c-0.489-0.202-0.929-0.5-1.299-0.869s-0.667-0.81-0.869-1.299c-0.195-0.469-0.303-0.985-0.303-1.529s0.108-1.060 0.303-1.529c0.202-0.489 0.5-0.929 0.869-1.299s0.81-0.667 1.299-0.869c0.469-0.195 0.985-0.303 1.529-0.303s1.060 0.108 1.529 0.303c0.489 0.202 0.929 0.5 1.299 0.869s0.667 0.81 0.869 1.299c0.195 0.469 0.303 0.985 0.303 1.529zM11 1v2c0 0.552 0.448 1 1 1s1-0.448 1-1v-2c0-0.552-0.448-1-1-1s-1 0.448-1 1zM11 21v2c0 0.552 0.448 1 1 1s1-0.448 1-1v-2c0-0.552-0.448-1-1-1s-1 0.448-1 1zM3.513 4.927l1.42 1.42c0.391 0.391 1.024 0.391 1.414 0s0.391-1.024 0-1.414l-1.42-1.42c-0.391-0.391-1.024-0.391-1.414 0s-0.391 1.024 0 1.414zM17.653 19.067l1.42 1.42c0.391 0.391 1.024 0.391 1.414 0s0.391-1.024 0-1.414l-1.42-1.42c-0.391-0.391-1.024-0.391-1.414 0s-0.391 1.024 0 1.414zM1 13h2c0.552 0 1-0.448 1-1s-0.448-1-1-1h-2c-0.552 0-1 0.448-1 1s0.448 1 1 1zM21 13h2c0.552 0 1-0.448 1-1s-0.448-1-1-1h-2c-0.552 0-1 0.448-1 1s0.448 1 1 1zM4.927 20.487l1.42-1.42c0.391-0.391 0.391-1.024 0-1.414s-1.024-0.391-1.414 0l-1.42 1.42c-0.391 0.391-0.391 1.024 0 1.414s1.024 0.391 1.414 0zM19.067 6.347l1.42-1.42c0.391-0.391 0.391-1.024 0-1.414s-1.024-0.391-1.414 0l-1.42 1.42c-0.391 0.391-0.391 1.024 0 1.414s1.024 0.391 1.414 0z"></path>\</svg>');
  --icon-sun-filter: invert(0.61) sepia(0.8) saturate(5) hue-rotate(0deg)
    brightness(0.92);
  --icon-moon: url('data:image/svg+xml,\<svg version="1.1" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">\<path d="M21.996 12.882c0.022-0.233-0.038-0.476-0.188-0.681-0.325-0.446-0.951-0.544-1.397-0.219-0.95 0.693-2.059 1.086-3.188 1.162-0.696 0.047-1.399-0.027-2.077-0.226-0.656-0.192-1.29-0.501-1.874-0.932-0.655-0.484-1.181-1.074-1.575-1.729-0.409-0.68-0.676-1.432-0.792-2.206s-0.082-1.571 0.11-2.342c0.184-0.741 0.514-1.46 0.999-2.115 0.142-0.191 0.216-0.435 0.191-0.691-0.053-0.55-0.542-0.952-1.092-0.898-1.117 0.109-2.186 0.399-3.172 0.843-1.005 0.452-1.925 1.065-2.723 1.808-0.883 0.82-1.618 1.801-2.159 2.901-0.523 1.064-0.863 2.238-0.978 3.485-0.125 1.347 0.024 2.658 0.402 3.878 0.392 1.266 1.031 2.431 1.863 3.433s1.86 1.843 3.033 2.461c1.13 0.595 2.392 0.982 3.739 1.106s2.659-0.025 3.878-0.403c1.266-0.392 2.431-1.031 3.433-1.863s1.843-1.86 2.461-3.033c0.595-1.13 0.982-2.392 1.106-3.739zM19.567 14.674c-0.126 0.351-0.276 0.689-0.447 1.014-0.493 0.937-1.166 1.76-1.969 2.427s-1.735 1.178-2.747 1.491c-0.973 0.302-2.021 0.421-3.102 0.321s-2.089-0.41-2.99-0.884c-0.937-0.493-1.76-1.166-2.427-1.969s-1.178-1.735-1.491-2.747c-0.302-0.973-0.421-2.021-0.321-3.102 0.092-1 0.365-1.938 0.782-2.786 0.43-0.878 1.018-1.661 1.725-2.319 0.64-0.595 1.377-1.086 2.183-1.449 0.179-0.081 0.362-0.155 0.548-0.223-0.092 0.257-0.171 0.516-0.236 0.778-0.256 1.029-0.302 2.091-0.147 3.121s0.51 2.032 1.056 2.941c0.527 0.875 1.23 1.663 2.1 2.306 0.775 0.573 1.622 0.986 2.5 1.243 0.907 0.266 1.846 0.364 2.772 0.302 0.752-0.050 1.496-0.207 2.21-0.465z"></path>\</svg>');
  --icon-moon-filter: invert(0%) sepia(0%) saturate(10%) hue-rotate(288deg)
    brightness(98%) contrast(95%);
  --button-icon: var(--icon-moon);
  --button-icon-filter: var(--icon-moon-filter);

  /* Shadow for the footnote tooltip*/
  --shadow-color: 0deg 0% 0%;
  --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.1),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.1),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.1);
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.11),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.11),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.11),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.11);
  --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.1),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.1),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.1),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.1),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.1),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.1),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.1),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --color-mode: "dark";
  }

  :root:not([data-user-color-scheme]) {
    --primary-text-color: hsl(216, 12%, 82%);
    --secondary-text-color: hsl(216, 12%, 66%);
    --primary-background-color: hsl(0, 0%, 10%);
    --secondary-background-color: hsl(0, 0%, 25%);
    --outline-color: hsl(0, 0%, 98%);
    --tag-background-color: hsla(0, 0%, 100%, 0.102);
    --tag-background-hover-color: hsla(0, 0%, 100%, 0.2);
    --tag-border-color: hsla(0, 0%, 100%, 0.1);
    --tag-text-color: hsl(216, 20%, 88%);
    --section-outline-color: var(--tag-background-color);
    --mark-bg-color: hsla(240, 67%, 94%, 80%);
    --mark-text-color: var(--primary-background-color);
    --button-icon: var(--icon-sun);
    --button-icon-filter: var(--icon-sun-filter);
  }
}

[data-user-color-scheme="dark"] {
  --primary-text-color: hsl(216, 12%, 82%);
  --secondary-text-color: hsl(216, 12%, 66%);
  --primary-background-color: hsl(0, 0%, 10%);
  --secondary-background-color: hsl(0, 0%, 25%);
  --outline-color: hsl(0, 0%, 98%);
  --tag-background-color: hsla(0, 0%, 100%, 0.1);
  --tag-background-hover-color: hsla(0, 0%, 100%, 0.2);
  --tag-border-color: hsla(0, 0%, 100%, 0.1);
  --tag-text-color: hsl(216, 20%, 88%);
  --section-outline-color: var(--tag-background-color);
  --mark-bg-color: hsla(240, 67%, 94%, 80%);
  --mark-text-color: var(--primary-background-color);
  --button-icon: var(--icon-sun);
  --button-icon-filter: var(--icon-sun-filter);
}

*,
:after,
:before {
  box-sizing: border-box;
  /* background-color: inherit; */
  font-family: inherit;
  color: inherit;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  border: 0 solid;
  scroll-margin-top: calc(var(--s2) - var(--border-thin));
}

body {
  transition: background-color 500ms ease-in-out, color 200ms ease;
}

footer,
header,
main,
nav {
  display: block;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

h1 {
  font-family: var(--font-special);
  font-size: var(--s2);
  line-height: var(--line-height-small);
  text-transform: uppercase;
}

h2,
h3 {
  text-transform: capitalize;
}

a {
  text-decoration-thickness: var(--s-7);
}

blockquote {
  padding: var(--s0);
  border-left: var(--border-thin) solid currentColor;
  background-color: var(--secondary-background-color);
}

mark {
  background-color: var(--mark-bg-color);
  color: var(--mark-text-color);
}

/*Superscript styles*/
sup {
  display: inline-block;
  transform: translateY(-0.25ex);
}

sup a {
  text-decoration: none;
}

button {
  font-size: inherit;
  font-weight: 700;
  display: inline-block;
  cursor: pointer;
  font-family: var(--font-special);
  color: var(--primary-background-color);
  background-color: var(--primary-text-color);
  padding: var(--s-1) var(--s2);
  border-width: var(--border-thin);
  border-radius: var(--s-7);
}

button {
  text-transform: uppercase;
  border-color: var(--primary-text-color);
}

button,
pre {
  outline: var(--border-thin) solid transparent;
  outline-offset: calc(var(--border-thin) * -1);
}

:focus {
  outline: var(--border-thin) solid var(--outline-color);
  outline-offset: var(--border-thin);
}
[tabindex="-1"]:focus {
  outline: none;
}

[href="#main"] {
  display: inline-block;
  padding: var(--s-1) var(--s2);
  color: var(--primary-background-color);
  background-color: var(--primary-text-color);
  position: absolute;
  top: -10rem;
}

[href="#main"]:focus {
  position: absolute;
  z-index: 1;
  top: 0;
  outline: none;
}

hr {
  display: block;
  unicode-bidi: isolate;
  overflow: hidden;
  border-top: var(--border-thin) solid var(--section-outline-color);
}

details {
  border-block: var(--border-thin) solid transparent;
}

details:not([open]) {
  border-block: var(--border-thin) solid;
}

details summary {
  padding-block: var(--s0);
  cursor: pointer;
}

details + details {
  margin-top: var(--s0);
}

details:not([open]) + details:not([open]) {
  margin-top: 0;
  border-block-start: 0;
}

@media print {
  main {
    overflow: visible;
    display: table;
  }

  .sidebar,
  aside,
  .not-sidebar footer,
  hr.section-sep {
    display: none;
  }

  h2,
  h3,
  h4,
  h5 {
    font-weight: bold;
    break-after: avoid;
    break-inside: avoid;
  }

  h2 + p,
  h3 + p {
    break-before: avoid;
  }

  [href="#main"] {
    visibility: hidden;
  }

  .table-of-contents {
    display: none;
  }

  .post .post-tag {
    display: none;
  }

  .eleventy-plugin-embed-twitter {
    break-inside: avoid;
  }

  .social-link {
    display: none !important;
  }
}
