.table-of-contents {
  border-top: calc(var(--step--2) * 10 / 100) solid;
  border-bottom: calc(var(--step--2) * 10 / 100) solid;
}

.toc ol {
  counter-reset: toc;
  list-style: none;
}
.toc > ol > li {
  line-height: var(--line-height);
  counter-increment: toc;
  border-top: calc(var(--step--2) * 10 / 100) solid;
}

.toc ol li a {
  display: grid;
  gap: var(--step--4);
  grid-template-columns: auto 1fr auto;
  font-size: var(--step--2);
  font-weight: 500;
  line-height: var(--line-height-high);
  letter-spacing: calc(1em * 1 / 100);
  text-decoration: none;
  text-transform: uppercase;
  transition: background 250ms ease-out;
}

.toc a:hover {
  background: var(--tag-background-color);
}

.toc > ol > li > a {
  padding-top: var(--step--4);
  padding-bottom: var(--step--4);
}

.toc ol li a:before {
  content: counter(toc) ".";
  padding-left: var(--step--8);
}

.toc ol li ol li a:before {
  content: counters(toc, ".");
}

.toc > ol > li > a::after {
  display: inline-block;
  content: "→";
}

.toc li ol {
  padding-bottom: var(--step--4);
  color: var(--secondary-text-color);
}

.toc li ol li {
  counter-increment: toc;
  margin-left: calc(var(--step--2) + var(--step--4));
}

.toc li ol li + li {
  margin-top: var(--step--4);
}
