.table-of-contents > * + * {
  margin-top: var(--s-2);
}

.table-of-contents > [aria-hidden] {
  text-transform: uppercase;
  font-size: var(--s-1);
  font-weight: 700;
  line-height: var(--line-height-small);
}

.toc ol {
  counter-reset: toc;
  list-style: none;
}
.toc > ol > li {
  line-height: var(--line-height);
  counter-increment: toc;
  border-top: 1px solid;
}

.toc ol li a {
  display: grid;
  gap: var(--s-3);
  grid-template-columns: var(--s-1) 1fr auto;
  text-decoration: none;
  text-transform: uppercase;
  font-size: var(--s-1);
  font-weight: 500;
}

.toc > ol > li > a {
  padding-block: var(--s-2);
}

.toc ol li a:before {
  content: counter(toc) ".";
}

.toc > ol > li > a::after {
  display: inline-block;
  width: var(--s-1);
  height: var(--s-1);
  margin-top: var(--s-5);
  content: "";
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 13 13'><path fill='hsl(0, 0%, 10%)' d='M12.02.7h-2v7.9L1.42 0 0 1.41l8.6 8.61H.7v2h11.32V.71z'/></svg>");
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 250ms;
}

.toc ol li a:hover::after {
  transform: rotate(-45deg);
}

.toc li ol {
  padding-block-end: var(--s-2);
  color: var(--secondary-text-color);
}

.toc li ol li {
  counter-increment: toc;
  margin-inline-start: calc(var(--s-1) + var(--s-3));
}

.toc li ol li + li {
  margin-top: var(--s-2);
}

/* Manually add dark theme text color in the fill*/
@media (prefers-color-scheme: dark) {
  .toc > ol > li > a::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 13 13'><path fill='hsl(216, 12%, 82%)' d='M12.02.7h-2v7.9L1.42 0 0 1.41l8.6 8.61H.7v2h11.32V.71z'/></svg>");
  }
}
