.eleventy-plugin-embed-twitter {
  margin-top: var(--s2);
}

.eleventy-plugin-embed-twitter iframe {
  border-radius: 12px;
}

.eleventy-plugin-embed-twitter + script {
  margin: 0;
}

.eleventy-plugin-embed-twitter + script + * {
  margin-top: var(--s2);
}
