.eleventy-plugin-embed-twitter {
  margin-top: var(--step-0);
}

.eleventy-plugin-embed-twitter iframe {
  border-radius: 12px;
}

.eleventy-plugin-embed-twitter + script {
  margin: 0;
}

.eleventy-plugin-embed-twitter + p {
  margin-top: var(--step-0);
}

.social-link {
  --cluster-gap: var(--step--4);
}

.social-link a {
  --cluster-gap: var(--step--6);
  text-decoration-line: none;
}

.social-link a:hover {
  text-decoration-line: underline;
}
