.eleventy-plugin-embed-twitter {
  margin-top: var(--step-0);
}

.eleventy-plugin-embed-twitter iframe {
  border-radius: 12px;
}

.eleventy-plugin-embed-twitter + script {
  margin: 0;
}

.eleventy-plugin-embed-twitter + p {
  margin-top: var(--step-0);
}

.social-link {
  gap: var(--step--4);
}

.social-link a {
  display: inline-flex;
  gap: var(--step--6);
  align-items: center;
  justify-content: center;
  padding: var(--step--8) var(--step--4);
  border: var(--border-thin) solid var(--primary-text-color);
  border-radius: var(--border-radius);
  text-decoration: none;
  color: var(--primary-text-color);
  transition: background 0.5s cubic-bezier(0.05, 0, 0, 1);
}

.social-link a:hover {
  text-decoration: underline;
  color: var(--primary-text-color);
  background: var(--primary-background-color);
}
