h1 {
  font-family: var(--font-special);
  font-size: var(--s3);
  line-height: var(--line-height-small);
  text-transform: uppercase;
}

h2,
h3 {
  text-transform: capitalize;
}

blockquote {
  padding: var(--s0);
  border-left: var(--border-thin) solid currentColor;
  background-color: var(--secondary-background-color);
}

mark {
  background-color: hsl(240deg 67% 92%);
  color: var(--primary-text-color);
}

@media (prefers-color-scheme: dark) {
  mark {
    background-color: hsla(240, 67%, 94%, 80%);
    color: var(--primary-background-color);
  }
}

share-highlight {
  /* default state */
  --share-highlight-text-color: var(--primary-text-color);
  --share-highlight-bg-color: hsl(240deg 67% 92%);
  /* hover/focus state */
  --share-highlight-text-color-active: var(--primary-text-color);
  --share-highlight-bg-color-active: hsl(240deg 67% 92%);
  /* tooltip */
  --share-highlight-tooltip-text-color: var(--primary-background-color);
  --share-highlight-tooltip-bg-color: var(--primary-text-color);
}
