.stack {
  display: flex;
  flex-direction: column;
  gap: var(--s1);
}

.color\:secondary {
  color: var(--secondary-text-color);
}

.font-weight\:500 {
  font-weight: 500;
}

.font-weight\:700 {
  font-weight: 700;
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s1);
  align-items: center;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
