# dependencies installed by npm
node_modules
package-lock.json

# Eleventy build artefacts
public
social/social-pages.json
social/template.html
.cache

.prettierignore
.vscode

# macOS related files
.DS_Store

# Local Netlify folder
.netlify
