{% set css %}
    {% include "components/theme.css" %}
    {% include "components/utilities.css" %}
    {% include "components/macro-layout.css" %}
    {% include "components/sidebar.css" %}
    {% include "components/not-sidebar.css" %}
    {% include "components/blog.css" %}
    {% include "components/footer-inner.css" %}
    {% include "components/primary-nav.css" %}
    {% include "components/post-list.css" %}
    {% include "components/post-meta.css" %}
    {% include "components/post-tag.css" %}
    {% if layout == 'layouts/post' %}
        {% include "components/post-content.css" %}
        {% include "components/toc.css" %}
        {% include "components/editors-note.css" %}
        {% include "components/share-highlight.css" %}
        {% include "components/bigfoot-default.css" %}
        {% include "components/twitter.css" %}
        {% include "components/footnotes.css" %}
    {% endif %}
    {% include "components/links.css" %}
    {% include "components/form.css" %}
    {% include "components/pagination.css" %}
{% endset %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "partials/head-meta-info.njk" %}
    <meta name="theme-color" content="hsl(0deg 0% 98%)" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="hsl(0, 0%, 10%)" media="(prefers-color-scheme: dark)">
    
    <style>{{ css | cssmin | safe }}</style>
    <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/feed.xml" title="{{ site.name }}"/>
    <script>document.documentElement.classList.add('with-js');</script>
</head>
<body>
    <a href="#main" id="skipContent">Skip to content</a>
    <div class="with-sidebar">
        <header class="sidebar">
            {% include "partials/nav.html" %}
        </header>
        <div class="not-sidebar">
            {{ content | safe}}
            <footer>
                {% include "partials/footer.njk" %}
            </footer>
        </div>
    </div>
    <script type="module" src="/scripts/theme-toggle.js" async defer></script>
    <script src="/scripts/main.js" type="module"></script>
    {% if layout == 'layouts/post' %}
        <script src="/scripts/share-highlight.js" async defer></script>
        <script src="/scripts/jquery.js" defer></script>
        <script src="/scripts/bigfoot.js" defer></script>
    {% endif %}
</body>
</html>