---
layout: layouts/base
---
{% set postslist = collections.posts | head(-3) %}


<main id="main">
    <h1>{{ introHeading }}</h1>
    {% include "partials/postslist.njk" %}
    {% include "partials/view-all.html" %}
</main>
