---
layout: layouts/base
---
<main id="main">
    <h1 class="post">{{ title | addNbsp }}</h1>
    <div class="post-meta color:darkish"> 
      <span class="color:darkish">
          {% if author %}
            {% set comma = joiner() %}
            {% for author in author -%}
              {{ comma() }} {{ author }}
            {%- endfor %}
          {% else %}
            Gautam Bhatia 
          {% endif %}
        </span>
        <span>
          •
        </span>
        <time datetime="{{ page.date | postDate}}">
          {{ page.date | postDate}}</time>
          {% if tags %}
            {% for tag in tags %}
              <a href="/tags/{{ tag | slug | url }}/" class="post-tag">{{ tag }}</a>
            {% endfor %}
          {% endif %}
    </div>
    {% include "partials/toc.html" %}
    {{ content | safe}}
</main>
