---
layout: layouts/base
---
<main id="main" class="post">
  <header>
    <h1>{{ title }}</h1>
    {% from "macros/macro.njk" import meta %}
      {{ meta({
        author: author,
        date: page.date,
        layout: layout,
        content: content
      }) }}
  </header>
    {% include "partials/toc.html" %}
    {% include "partials/editors-note.njk" %}
    {{ content | safe}}
    {% if tags %}
    <div class="post-tag font-weight:500">
      Tagged: 
        {% for tag in tags | filterTagList %}
          {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
          <a href="{{ tagUrl | url }}" class="post-tag-item">{{ tag }}</a>
        {% endfor %}
    </div>
    {% endif %}
</main>
<aside class="post-list">
  {% set asideHeading %}RELATED POSTS{% endset %}
  {% set postslist = collections.posts | getByTags(tags) | randomLimit(2, page.url) %}
  {% set postsListLength = postslist | length %}
  {% if postsListLength == 0 %}
    {% set asideHeading %}MORE POSTS{% endset %}
    {% set postslist = collections.posts | randomLimit(2, page.url) %}
  {% endif %}
  {% set headingLevel = 'h3' %}

  <h2>{{ asideHeading }}</h2>
  {% include "partials/postslist.njk" %}

</aside>