{% extends "layouts/base.njk" %}

{% block content %}
<main id="main" class="post">
  <header>
    <h1>{{ title }}</h1>
    {% from "macros/macro.njk" import meta %}
      {{ meta({
        author: author,
        date: page.date,
        layout: layout,
        content: content
      }) }}
      {% include "partials/first-published.html" %}
  </header>
    {% include "partials/toc.html" %}
    {% include "partials/editors-note.njk" %}
    {{ content | safe }}
    <div class="cluster post-footer">
      {% include "partials/tag-items.njk" %}
      <div class="social-link">
        <span aria-hidden="true">Share:</span>{% include "partials/twitter-share.html" %}
      </div>
    </div>
</main>
<aside class="additional-posts">
  {% set asideHeading %}Related Posts{% endset %}
  {% set postslist = collections.posts | getByTags(tags) | randomLimit(2, page.url) %}
  {% set postsListLength = postslist | length %}
  {% if postsListLength == 0 %}
    {% set asideHeading %}More Posts{% endset %}
    {% set postslist = collections.posts | randomLimit(2, page.url) %}
  {% endif %}
  {% set headingLevel = 'h3' %}

  <h2>{{ asideHeading }}</h2>
  {% include "partials/postslist.njk" %}
  {% include "partials/view-all.html" %}
</aside>
{% endblock %}