---
title: Blog
eleventyNavigation:
  key: Blog
  order: 2
pagination:
  data: collections.posts
  size: 6
  reverse: true
permalink: "blog/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
---
{% set postslist = pagination.items.reverse() %}
{% include "partials/postslist.njk" %}
{% include "partials/blognav.njk" %}