---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - pages
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
eleventyComputed:
  title: '{{ tag }}'
permalink: /tags/{{ tag | slug }}/
---

{% set postslist = collections[ tag ] %}

<small class="color:secondary taglist-subtitle">
  - There {% if postslist.length == 1%} is 1 item {% else %} are {{ postslist.length }} items{%endif %} tagged "{{ tag | addNbsp | safe }}".
</small>

{% include "partials/postslist.njk" %}

<hr>
<a href="{{ '/tags/' | url }}#main">See all tags<span aria-hidden="true"> →</span></a>