---
title: Tags
subtitle: —Sorted alphabetically
permalink: /tags/
---
<small class="taglist-subtitle">{{ subtitle }}</small>
<ul class="post-tag tags-list">
    {% for tag in collections.tagList | sort %}
    {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
        <li><a href="{{ tagUrl | url }}#main" class="post-tag-item">{{ tag }}</a></li>
    {% endfor %}
</ul>