---
title: Tags
subtitle: —Sorted alphabetically
permalink: /tags/
---
<small class="taglist-subtitle">{{ subtitle }}</small>
<ol class="font-weight:500 line-height-high text--s-1 tags-list" role="list">
    {% for tag in collections.tagList | sort %}
    {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
        <li><a href="{{ tagUrl | url }}#main" class="post-tag-item">{{ tag }}</a></li>
    {% endfor %}
</ol>