:root {
  --font-plain: Helvetica Neue, Helvetica, Arial, sans-serif;
  --font-special: Barlow Condensed, Helvetica, sans-serif;
  --font-mono: Menlo, Courier, Courier New, Andale Mono, monospace;
  --color-dark: #050505;
  --color-darkish: #404040;
  --color-lightish: #e6e6e6;
  --color-light: #fafafa;
  --color-mid: grey;
  --ratio: 1.4;
  --s-5: calc(
    var(--s0) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio) /
      var(--ratio)
  );
  --s-4: calc(
    var(--s0) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio)
  );
  --s-3: calc(var(--s0) / var(--ratio) / var(--ratio) / var(--ratio));
  --s-2: calc(var(--s0) / var(--ratio) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s0) * var(--ratio) * var(--ratio));
  --s3: calc(var(--s0) * var(--ratio) * var(--ratio) * var(--ratio));
  --s4: calc(
    var(--s0) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio)
  );
  --s5: calc(
    var(--s0) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) *
      var(--ratio)
  );
  --measure: 65ch;
  --line-height: var(--ratio);
  --line-height-small: calc(0.8 * var(--ratio));
  --border-thin: var(--s-5);
  --border-thick: var(--s-2);
  line-height: var(--ratio);
  font-size: calc(0.333vw + 1em);
  font-family: var(--font-plain);
  background-color: var(--color-light);
  color: var(--color-dark);
}

*,
:after,
:before {
  box-sizing: border-box;
  /* background-color: inherit; */
  font-family: inherit;
  color: inherit;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  border: 0 solid;
  scroll-padding-top: var(--s3);
}

footer,
header,
main,
nav {
  display: block;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

button {
  font-size: inherit;
  font-weight: 700;
  display: inline-block;
  cursor: pointer;
  font-family: var(--font-special);
  color: var(--color-light);
  background-color: var(--color-dark);
  padding: var(--s-1) var(--s2);
  border-width: var(--border-thin);
}

button {
  border-color: var(--color-dark);
}

button:active {
  transform: scale(0.98);
}

button,
pre {
  outline: var(--border-thin) solid transparent;
  outline-offset: calc(var(--border-thin) * -1);
}

:focus {
  outline: var(--border-thin) solid var(--color-mid);
  outline-offset: var(--border-thin);
}
[tabindex="-1"]:focus {
  outline: none;
}

[href="#main"] {
  display: inline-block;
  padding: var(--s-1);
  color: var(--color-light);
  background-color: var(--color-dark);
  position: absolute;
  top: -10rem;
}

[href="#main"]:focus {
  position: absolute;
  z-index: 1;
  top: 0;
  outline: none;
}

.with-sidebar {
  display: flex;
  flex-wrap: wrap;
  /* gap: var(--s1); */
  min-height: 100vh;
}

.sidebar,
.not-sidebar {
  padding: var(--s2);
}

.sidebar {
  flex-grow: 1;
  flex-basis: 14rem;
  position: relative;
  text-align: center;
  outline: var(--border-thin) solid;
}

.not-sidebar {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 70%;

  min-height: 70vh;
  display: flex;
  flex-direction: column;
}

.sidebar * + * {
  margin-top: var(--s1);
}

.not-sidebar > * + * {
  margin-top: var(--s3);
}

.sidebar .site-name {
  font-family: var(--font-special);
  font-size: var(--s3);
  text-transform: uppercase;
  line-height: var(--line-height);
}

.sidebar ul {
  list-style: none;
}

.sidebar li + li {
  margin-top: var(--s-2);
}

.sidebar a {
  display: block;
  line-height: var(--line-height-small);
  font-weight: 700;
  text-decoration: none;
}

.sidebar a:not([aria-current="page"]):hover {
  text-decoration: underline;
}
.sidebar [aria-current="page"] {
  position: relative;
  text-indent: -1em;
}

.sidebar [aria-current="page"]::before {
  content: "\25B8";
  padding-right: var(--s-3);
}

main > * + * {
  margin-top: var(--s3);
}

main p + p {
  margin-top: var(--s0);
}

mark {
  background-color: yellow;
  color: var(--color-dark);
}

share-highlight {
  /* default state */
  --share-highlight-text-color: inherit;
  --share-highlight-bg-color: yellow;
  /* hover/focus state */
  --share-highlight-text-color-active: inherit;
  --share-highlight-bg-color-active: yellow;
  /* tooltip */
  --share-highlight-tooltip-text-color: var(--color-light);
  --share-highlight-tooltip-bg-color: var(--color-dark);
}

blockquote {
  margin-top: var(--s2);
  padding: var(--s0);
  border-left: var(--border-thin) solid currentColor;
  background-color: var(--color-lightish);
}

blockquote + * {
  margin-top: var(--s2);
}

hr {
  display: block;
  unicode-bidi: isolate;
  overflow: hidden;
  border-top: var(--border-thin) dotted;
}

h1 {
  font-family: var(--font-special);
  font-size: var(--s3);
  line-height: var(--line-height-small);
}

h1,
h2,
h3 {
  text-transform: capitalize;
}

.post h1 {
  font-size: var(--s2);
}

.post * + h1 {
  margin-top: var(--s-1);
}

.post h1 + div {
  margin-top: var(--s1);
}

.table-of-contents {
  position: relative;
  border: var(--border-thin) dotted;
  font-weight: 700;
}

.table-of-contents > [aria-hidden] {
  position: absolute;
  right: 1rem;
  top: -0.75em;
  text-transform: uppercase;
  font-family: var(--font-special);
  padding: 0 0.5rem;
  font-size: var(--s1);
  line-height: var(--line-height-small);
  z-index: 1;
}

.table-of-contents > span {
  background-color: var(--color-light);
}

.table-of-contents ol {
  padding: var(--s1) var(--s3);
  margin: 0;
}
.table-of-contents li {
  text-transform: capitalize;
  line-height: var(--line-height);
}
.table-of-contents li + li {
  margin-top: var(--s-2);
}
.table-of-contents a {
  text-decoration: none;
}

.post h2 {
  font-size: var(--s1);
}

.post h2 + * {
  margin-top: var(--s1);
}

.post-list article {
  display: flex;
  flex-direction: column;
  gap: var(--s0);
}

.post-list > * + * {
  margin-top: var(--s2);
}

.post-list h2 {
  line-height: var(--line-height);
  font-size: var(--s1);
  font-weight: 700;
}

.post-list h3 {
  /* display: inline-block; */
  line-height: var(--line-height);
  font-size: var(--s0);
  font-weight: 700;
}

.post-list a {
  text-decoration: none;
}

.post-list a:not([aria-current="true"]):hover {
  text-decoration: underline;
}
.post-list [aria-current="true"] {
  position: relative;
  text-indent: -1em;
}

.post-meta {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s-3);
  align-items: center;
  font-size: var(--s-1);
  font-weight: 500;
  text-transform: uppercase;
}

.post-tag {
  display: flex;
  gap: var(--s-3);
  flex-wrap: wrap;
}

.post-tag-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.06776036em 0.36443149em;
  border: calc(var(--border-thin) / 1.4 / 1.4) dotted var(--color-darkish);
  border-radius: var(--s-1);
  text-decoration: none;
}

.direct-link {
  opacity: 0;
  transition: opacity 180ms ease-in;
}

.direct-link:hover {
  opacity: 1;
}

.direct-link:focus {
  opacity: 1;
}

.color\:darkish {
  color: var(--color-darkish);
}

.font-weight\:500 {
  font-weight: 500;
}

.font-weight\:700 {
  font-weight: 700;
}

.eleventy-plugin-embed-twitter {
  margin-top: var(--s2);
}

.eleventy-plugin-embed-twitter + script {
  margin: 0;
}

.eleventy-plugin-embed-twitter + script + * {
  margin-top: var(--s2);
}

hr.footnotes-sep {
  width: var(--s5);
}

.footnotes-list {
  margin-inline-start: 20.688px;
}

.footnotes-list li + li {
  margin-top: var(--s-2);
}

aside.post-list details > * + * {
  margin-top: var(--s3);
}

aside.post-list summary {
  font-size: var(--s2);
  font-family: var(--font-special);
}

footer,
main > *,
aside > * {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 35rem;
}

footer {
  margin-top: auto !important;
  font-size: var(--s-1);
  text-align: center;
}

footer > * + * {
  margin-top: var(--s-3);
}

footer:before {
  content: "\25AC";
  display: block;
  margin-top: var(--s3);
  padding-bottom: var(--s-3);
}

.view-all-link {
  font-size: var(--s1);
  line-height: var(--line-height-small);
  font-weight: 700;
}

.view-all-link::after {
  content: "→";
}

label {
  font-weight: 700;
}

label,
label small {
  display: block;
}

label small {
  font-weight: 400;
  font-style: italic;
}

[type="checkbox"] ~ svg,
input,
textarea {
  /* box-shadow: inset 0.25rem 0.25rem 0 #ddd; */
  border-radius: 0;
}

[type="email"],
[type="text"],
textarea {
  width: 100%;
  font-size: inherit;
  border-width: var(--border-thin);
  padding: var(--s-1);
}

[type="checkbox"] ~ svg {
  stroke: transparent;
  border-width: var(--border-thin);
  vertical-align: middle;
  padding: 2px;
  box-sizing: content-box;
}

[type="checkbox"]:checked ~ svg {
  stroke: currentColor;
}

[type="checkbox"]:focus ~ svg {
  outline: var(--border-thin) solid var(--color-mid);
}

input:focus,
textarea:focus {
  outline-offset: 0;
}

label + * {
  margin-top: var(--s-3);
}

form > * + * {
  margin-top: var(--s1);
}

[type="submit"] {
  width: 100%;
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s1);
  justify-content: space-between;
  align-items: center;
}

ol.cluster {
  list-style: none;
}

.cluster a {
  text-decoration: none;
}

.cluster a:not([aria-current="true"]):hover {
  text-decoration: underline;
}
.cluster [aria-current="true"] {
  position: relative;
}

.cluster [aria-current="true"]::before {
  content: "\25B8";
  padding-right: var(--s-3);
}
/* 
@media (max-width: 883px) {
  header nav ul {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: var(--s0);
    flex-wrap: wrap;
  }
} */
