---
permalink: ./social/template.html
permalinkBypassOutputDir: true
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
    {% raw %}{{ style }}{% endraw %}
  </style>
</head>
<body>
    <h1 class="social-image-title"></h1>
  <div class="meta">
    <span data-date></span>
    <span data-separator></span>
    <span data-author></span>
    <h2 class="social-image-site">
      {{ site.name }}
    </h2>
  </div>
</body>
</html>