---
title: Blog
pagination:
  data: collections.posts
  size: 5
  reverse: true
permalink: "blog/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
eleventyNavigation:
  key: Blog
  order: 2
---
{% extends "layouts/base.njk" %}

{% block content %}
<main id="main">
  <h1 class="blog-title">
  {% if pagination.pageNumber == 0 %}
    {{ title }}
  {% else %}
    <a href="/blog">{{ title }}</a> - Page {{ pagination.pageNumber + 1 }}
  {% endif %}
  </h1>

  {% set postslist = pagination.items.reverse() %}
  {% include "partials/postslist.njk" %}
  {% include "partials/pagination.njk" %}
</main>
{% endblock %}