---
layout: layouts/page
title: "Latest Articles"
metaDesc: "An analysis of some of the important constitutional cases, past and present."
eleventyNavigation:
  key: Home
  order: 1
---
{% set postslist = collections.posts | head(-3) %}

{% include "partials/postslist.njk" %}
<div>
  <a href="/blog" class="view-all-link">View All </a>
</div>



