
{% if customEditorsNote %}
  {% set editorsNoteContent = customEditorsNote %}
{% else %}
  {% set editorsNoteContent %}
    Justice is an indivisible concept. We cannot, therefore, discuss contemporary Supreme Court judgments without also acknowledging the Court’s failure – at an institutional level – to do justice in the case involving <a href="https://www.thenewsminute.com/article/women-lawyers-demand-fair-inquiry-sexual-harassment-charges-against-cji-gogoi-100441">sexual harassment allegations</a> against a former Chief Justice. This editorial caveat will remain in place for all future posts on this blog dealing with the Supreme Court, until there is a material change in circumstances (e.g., the introduction of structural mechanisms to ensure accountability).
  {% endset %}
{% endif %}

{% if editorsNote %}
  <details class="editors-note" open>
    <summary class="text--s-1">Editor's Note</summary>
    <p>{{ editorsNoteContent | safe }}</p>
  </details>
{% endif %}
