<span class="visually-hidden">Excerpt:</span>
<p class="excerpt color:secondary">
  {% if post.data.summary %}
    {{ post.data.summary }}
  {% else %}
    {{ post.templateContent | excerpt | safe }}
  {% endif %}
</p>
