{% if firstPublished.website %}

<div>
  <details class="first-published">
    <summary class="text--s-1 font-weight:700">Note</summary>
    <p>
      This article was first published on
      {% if firstPublished.link %}
        <a href="{{ firstPublished.link }}">{{ firstPublished.website }}</a>
      {% else %}
        {{ firstPublished.website }}
      {% endif %}
      {% if firstPublished.date %}
        on
        <time datetime={{ firstPublished.date | dump | safe }}>
          {{ firstPublished.date | postDate }}
        </time>
      {% endif %}
    </p>
  </details>
</div>

{% endif %}