<div class="cluster footer-inner">
    <div class="cluster footer-button">
        <a class="font-weight:500 text--s-1 footer-link" href="#top">↑ Top</a>
        <theme-toggle></theme-toggle>
    </div>
    <div class="stack footer-inner-content">
        <p>&copy; {% year %} {{ site.name | addNbsp | safe }}</p>
        <p>
            Site Credit: 
            <a href="{{ site.developerLink }}">
                {{ site.developerName }}
            </a>
        </p>
    </div>
</div>