<div class="cluster footer-inner">
    <div class="cluster text--s-1">
        <a class="footer-link" href="#top">
            Go to the top<span aria-hidden="true"> ↑</span>
        </a>
        <theme-toggle></theme-toggle>
    </div>
    <div class="stack footer-inner-content">
        <p>&copy; {% year %} {{ site.name | addNbsp | safe }}</p>
        <p>
            Site Credit: 
            <a href="{{ site.developerLink }}">
                {{ site.developerName }}
            </a>
        </p>
    </div>
</div>