
<div class="call-out">
  <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="call-out-label bi bi-info-circle-fill" viewBox="0 0 16 16" aria-label="Note">
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
  </svg>
  <p class="call-out-content">All fields must be filled out before submitting the form.</p>
</div>


<form name="contact" method="POST" data-netlify="true" class="contact-form" action="/thank-you" netlify-honeypot="bot-field">
  <div>
    <p>
      <label for="name">Name</label>
    </p>
    <input type="text" name="name" id="name" autocomplete="name" placeholder="Your name" title="Please enter your name" required>
  </div>
  <div>
    <p>
      <label for="email">Email</label>
    </p>
    <input type="email" name="email" id="email" autocomplete="email" placeholder="Your email address" title="The domain portion of the email address is invalid (the portion after the @)." pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$" required>
  </div>
  <div>
    <p>
      <label for="message">Message</label>
    </p>
    <textarea name="message" id="message" placeholder="Write your message here" rows="7" required></textarea>
  </div>
  <div hidden>
    <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
  </div>
  <button type="submit">Send Message</button>
</form>