<div class="post-meta color:darkish">
    <span>
    {% if params.author != "Gautam Bhatia" and params.author !=  "Vasudev Devadasan" %}
        Guest Post: 
    {% endif %} 
    {% if params.author %}
        {% set comma = joiner() %}
        {% for author in params.author -%}
            {{ comma() }} {{ author }}
        {%- endfor %}
    {% else %}
        Gautam Bhatia 
    {% endif %} 
    </span>
    •
    <time datetime="{{ params.date | dump }}">
    {{ params.date | postDate}}
    </time>
    {% if params.layout == 'layouts/post' %}
        • <p>{{ params.content | emojiReadTime }}</p>
    {% endif %}
    {% if params.tags %}
    <div class="post-tag">
        {% for tag in params.tags | filterTagList %}
            {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
            <a href="{{ tagUrl | url }}" class="post-tag-item">{{ tag }}</a>
        {% endfor %}
    </div>
    {% endif %}
</div>