<section class="site-head">
    <a 
        class="site-abbr" 
        href="/" 
        tabindex="-1" 
        aria-hidden=true>
        {{ site.abbr }}
    </a>
    <p class="site-name">
        {{ site.name }}
    </p>
</section>

<button class="primary-nav-toggle" aria-expanded="false">
    <svg class="nav-menu-icon" focusable="false" viewBox="0 0 32 32">
      <path d="M3,3 29,3 M3,16 29,16 M3,29 29,29"></path>
    </svg>
    Menu
  </button>
  <nav class="primary-nav" aria-label="Primary">
    {% set navPages = collections.all | eleventyNavigation %}
    <ul>
    {% for entry in navPages %}
        <li>
            <a href="{{ entry.url | url }}" {{ helpers.getLinkActiveState(entry.url, page.url) | safe }} aria-label="{{ entry.title }}">{{ entry.title }}</a>
        </li>
    {% endfor %}
    </ul>
</nav>

