<div class="site-name">
    <p class="site-abbr">
        <a href="/" tabindex="-1">{{ site.abbr }}</a>
    </p>
    <p class="site-full-name">
        {{ site.name }}
    </p>
</div>
<nav>
    {% set navPages = collections.all | eleventyNavigation %}
    <ul>
    {% for entry in navPages %}
        <li>
            <a href="{{ entry.url | url }}" 
            {% if entry.url == page.url %} aria-current="page"
            {% endif %}>{{ entry.title }}</a>
        </li>
    {% endfor %}
    </ul>
</nav>

