<div class="site-name">
    <p class="site-abbr">
        <a href="/" tabindex="-1">{{ site.abbr }}</a>
    </p>
    <p class="site-full-name">
        {{ site.name }}
    </p>
</div>
<button class="primary-nav-toggle" aria-expanded="false">
    <svg class="nav-menu-icon" focusable="false" viewBox="0 0 32 32">
      <path d="M3,3 29,3 M3,16 29,16 M3,29 29,29"></path>
    </svg>
    Menu
  </button>
  <nav class="primary-nav" aria-labelledby="nav-label">
    {% set navPages = collections.all | eleventyNavigation %}
    <ul>
    {% for entry in navPages %}
        <li>
            <a href="{{ entry.url | url }}" {{ helpers.getLinkActiveState(entry.url, page.url) | safe }}>{{ entry.title }}</a>
        </li>
    {% endfor %}
    </ul>
</nav>

