<hr>
<nav aria-label="Pagination links">
  <ol class="cluster pagination">
    {# <li>{% if page.url != pagination.href.first %}
      <a href="{{ pagination.href.first }}">First</a>{% else %}First{% endif %}
    </li> #}
    {% if pagination.href.previous %}
    <li data-direction="backwards">
      <a class="blog-nav-link" href="{{ pagination.href.previous }}#main"><span aria-hidden="true">←</span> Newer Articles</a>
    </li>
    {% endif %}
    {# <ol class="cluster pagination">
      {%- for pageEntry in pagination.pages %}
        <li>
          <a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="true"{% endif %}>{{ loop.index }}</a>
        </li>
      {%- endfor %}
    </ol> #}
        {% if pagination.href.next %}
        <li data-direction="forwards">
            <a class="link blog-nav-link" href="{{ pagination.href.next }}#main">Older Articles <span aria-hidden="true">→</span></a>
        </li>
        {% endif %}
      {# <li>
        {% if page.url != pagination.href.last %}
          <a href="{{ pagination.href.last }}">Last</a>
        {% else %}
          Last
        {% endif %}
      </li> #}
  </ol>
</nav>