<section class="post-list">
    {% for post in posts %}
      <article {% if page.url == post.url %} aria-current="page"{% endif %}>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
        <div class="color:darkish">
          <span>
            {% if post.data.author %}
              {{ post.data.author }}
            {% else %}
              Gautam Bhatia 
            {% endif %} 
          </span>
          <span>
            •
          </span>
          <time datetime="{{ post.date | postDate}}">
            {{ post.date | postDate}}
          </time>
        </div>
        <p class="color:darkish">
          {% if post.data.excerpt %}
            {{ post.data.excerpt }}
          {% else %}
            {{ post.templateContent | excerpt }}</>
          {% endif %}
        </p>
      </article>
      <hr>
    {% endfor %}
    </section>
    