<div class="post-list">
{% for post in postslist | reverse %}
  <article class="postlist-item stack">
    <div class="stack" style="gap: var(--s-1);">

      {# Dynamic heading #}
      <{{ headingLevel if headingLevel else 'h2' }}>
        <a href="{{ post.url | url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
      </{{ headingLevel if headingLevel else 'h2' }}>
      
      {% from "macros/macro.njk" import meta %}
        {{ meta({
          author: post.data.author,
          date: post.date,
          layout: layout,
          content: post.data.content
        }) }}
    </div>
    
    {% include "partials/excerpt.njk" %}
    {% include "partials/tag-items.njk" %}
  </article>
  <hr>
{% endfor %}
</div>