{% set authorLength = params.author | length %}

<div class="post-meta color:secondary">
    <span>
        <span class="visually-hidden">Author:</span>
        <span aria-hidden="true" class="author-icon">
        {% if authorLength > 1 %}
            <svg 
                xmlns="http://www.w3.org/2000/svg" width="0.8em" height="0.8em" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16" 
            >
                <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
            </svg>
        {% elif authorLength == 1 %}
            <svg xmlns="http://www.w3.org/2000/svg" width="0.8em" height="0.8em" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>
        {% endif %}
        </span>
        {% if params.author != "Gautam Bhatia" and params.author !=  "Vasudev Devadasan" %}
            Guest Post : 
        {% endif %} 
        {% if params.author %}
            {% set comma = joiner() %}
            {% for author in params.author -%}
                {{ comma() }} {{ author }}
            {%- endfor %}
        {% else %}
            Gautam Bhatia 
        {% endif %} 
    </span>
    <span class="visually-hidden">Publish Date:</span>
    <time datetime={{ params.date | dump | safe }}>
        <span aria-hidden="true" class= "calendar-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="0.8em" height="0.8em" fill="currentColor" class="bi bi-calendar2-check-fill" viewBox="0 0 16 16">
                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zm9.954 3H2.545c-.3 0-.545.224-.545.5v1c0 .276.244.5.545.5h10.91c.3 0 .545-.224.545-.5v-1c0-.276-.244-.5-.546-.5zm-2.6 5.854a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
            </svg>
        </span>
        {{ params.date | postDate}}
    </time>
    {% if params.layout == 'layouts/post' %}
        <p>
            <span aria-hidden="true" class= "time-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="0.8em" height="0.8em" fill="currentColor" class="bi bi-clock-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                </svg>
            </span>
            {{ params.content | emojiReadTime }}
        </p>
    {% endif %}
</div>