<div class="cluster text--s-1 font-weight:500 color:secondary line-height-high post-meta">
    <span class="visually-hidden">Author:</span>
    <p>
        {% if params.author != "Gautam Bhatia" and params.author !=  "Vasudev Devadasan" %}
            {% if params.layout == 'layouts/post' %}
                Guest Post : 
            {% endif %} 
        {% endif %} 
        
        {% set comma = joiner() %}
        {% for author in params.author -%}
            {{ comma() }} {{ author }}
        {%- endfor %}
    </p>
    <span class="visually-hidden">Publish Date:</span>
    <p>
        <span aria-hidden="true">• </span>
        <time datetime={{ params.date | dump | safe }}>
            {{ params.date | postDate}}
        </time>
    </p>
    {% if params.layout == 'layouts/post' %}
        <span class="visually-hidden">Reading Time:</span>
        <p>
            - {{ params.content | emojiReadTime }}
        </p>
    {% endif %}
</div>