<div class="cluster text--s-1 font-weight:500 line-height-high post-meta" 
    aria-label="Article Information">
    <span aria-label="Author">
        {% if params.author != "Gautam Bhatia" and params.author !=  "Vasudev Devadasan" %}
            {% if params.layout == 'layouts/post' %}
                Guest Post : 
            {% endif %} 
        {% endif %} 
        
        {% set comma = joiner() %}
        {% for author in params.author -%}
            {{ comma() }} {{ author }}
        {%- endfor %}
    </span>
    <span aria-hidden="true">/</span>
    <time datetime={{ params.date | dump | safe }}  aria-label="Publish Date">
        {{ params.date | postDate}}
    </time>
    {% if params.layout == 'layouts/post' %}
        <span aria-hidden="true">/</span>
        <p aria-label="Reading Time">
            {{ params.content | emojiReadTime }}
        </p>
    {% endif %}
</div>