{% if tags %}
<ul class="cluster color:secondary post-tag" role="list">
    {% for tag in tags | filterTagList %}
      {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
      <li><a href="{{ tagUrl | url }}#main" class="post-tag-item">{{ tag }}</a></li>
    {% endfor %}
</ul>
{% endif %}