{% if post.data.tags %}
<ul class="post-tag" aria-label="Tagged">
    {% for tag in post.data.tags | filterTagList %}
      {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
      <li><a href="{{ tagUrl | url }}" class="post-tag-item">{{ tag }}</a></li>
    {% endfor %}
</ul>
{% endif %}